<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<i class="fa fa-bars"></i>
				<span>sections</span>
			</li>
			<li id="search-modal-btn">
				<i class="fa fa-search"></i>
				<span>search</span>
			</li>
		</ul>
	</nav>
	<nav class="right-nav">
		<ul>
			<li id="subscribe-now">
				<button class="nav-button" id="subscribe-now" name='subscribe'>Subscribe Now</button>
			</li>
			<li id="log-in">
				<button class="nav-button" id="log-in" name='login'>
					<span>Log In</span>
				</button>
			</li>
			<li id="gear-dropdown-btn">
				<i class="fas fa-cog"><%= render partial: 'shared/gear_dropdown' %></i>
			</li>
		</ul>
	</nav>
</header>